.sidebar {
  position: fixed;
  margin-top: -15px;
  padding-top: 15px;
  background-color: $secondary;

  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$navbar-brand-height});
  }
}

.sidebar + .col {
  margin-left:248px;
}