<%#= link_to video_watch_path(video.hash_id), class: 'video-link' do %>
  <div class="category card card-1">
    <div class="card-body" style="background-color: <%= category.color %>">
      <h5 class="card-title"><%= category.title %></h5>
    </div>
  </div>
<%# end %>