<div class="col-sm-3">
  <div class="card">
    <img class="card-img-top"
         src="<%= video.get_thumbnail(I18n.locale) %>"
         alt="<%= video.title %>">
    <div class="card-body">
      <h5 class="card-title"><%= video.title %></h5>
      <%#<p class="card-text"></p> %>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= video.date %></small>
    </div>
  </div>
</div>
