<div class="container">
  <div class="row">
    <div class="col">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                width="853" height="480"
                src="https://www.youtube.com/embed/<%= @store['youtube_id'] %>"
                frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= @store["text_#{I18n.locale}"].html_safe %>
    </div>
  </div>
</div>