<% @languages.each do |language| %>
  <div class="<%= css_class %>">
    <%= "#{name} (#{language['title']})" %>
    <div class="localized-html">
      <%= raw(model.send("#{key}_#{language['locale']}")) %>
    </div>
  </div>
<% end %>