<% @languages.each do |language| %>
  <p>
    <%= label_tag "#{name}_#{language['locale']}" %>
    <%= text_field_tag "#{model.class.name.underscore}[#{name}_#{language['locale']}]", model.send("#{name}_#{language['locale']}") %>
  </p>
<% end %>