<div class="row">
  <% @languages.each do |language| %>
    <div class="col-lg-6">
      <%= "#{name}_#{language['locale']}" %>
      <div class="localized-html">
        <%= raw(model.send("#{key}_#{language['locale']}")) %>
      </div>
    </div>
  <% end %>
</div>