<% unless archive_file.video_being_processed %>
  <% unless archive_file[:used_as_conversion_source] %>
    <%= link_to t('admin.action.delete'),
                admin_archive_item_archive_file_path(archive_item_id: @archive_item,
                                                     id: archive_file.id),
                data: {confirm: t('admin.confirm.delete')},
                method: :delete,
                class: 'btn btn-danger' %>
  <% end %>
  <% if archive_file.video? %>
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <%= t('admin.action.convert') %>
    </button>
    <div class="dropdown-menu">
      <% @convert_profiles.each do |convert_profile| %>
        <%= link_to convert_profile.title,
                    convert_admin_archive_item_archive_file_path(archive_item_id: @archive_item,
                                                                 id: archive_file.id,
                                                                 convert_profile_id: convert_profile.id),
                    method: :post,
                    class: 'dropdown-item' %>
      <% end %>
    </div>
  <% end %>
<% end %>