<p>
  <%= label_tag "#{name}" %>
  <%= text_field_tag "#{model}[#{name}]" %>
</p>
<% @languages.each do |language| %>
  <p>
    <%= label_tag "#{name}_#{language['locale']}" %>
    <%= text_field_tag "#{model}[#{name}_#{language['locale']}]" %>
  </p>
<% end %>