<ul>
  <li>
    <%= link_to 'Dashboard', admin_path %>
  </li>
  <li>
    <%= link_to 'Archive', admin_archive_items_path %>
  </li>
  <li>
    <%= link_to 'Categories', admin_categories_path %>
  </li>
</ul>